body {
    width: 50%;
    position: absolute;
    left: 25%;
    top: 20%;
    font-family: Verdana, sans-serif;
}

h1 {
    padding-bottom: 35px;
}

#button {
    margin-top: 20px;
    margin-bottom: 50px;
}

#warning {
    color: red;
    display: none;
}